body {
  background-color: #f8f9fa;
}

footer {
  padding: 2% 5%;
}

#logo {
  width: 50px;
  height: 50px;
}

#nav-logo {
  width: 30px;
  height: 30px;
  border: solid 2px white;
  border-radius: 10px;
  opacity: 0;
  transition: opacity .5s;
}

#index-info .row {
  margin: 5% auto 5% auto;
}

#party-carousel {
  width: 80%;
}

.carousel-caption {
  text-shadow: 0 0 3px #000000, 0 0 5px var(--gray);
  background: #6b926b;
  bottom: 45%;
}

.navbar, footer {
  background-color: #7cb765;
}

.fa-coffee {
  color: #f8f9fa;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

/* .sticky+.content {
  padding-top: 100px;
} */

.webmaster {
  font-size: x-small;
}

.fab {
  color: #f8f9fa;
}

/* .col-1 {
   OBS byt
  text-align: center;
} */
.images {
  width: 85%;
  /* height: 85%; */
  /* bättre med fasta pixlar? */
}

.machines {
  font-size: x-small;
}

.card-header {
  background-color: #6b926b;
}

.party-btn {
  background-color: #7cb765;
  border: none;
}

.employee img {
  width: 100%;
  /* 800x1000 */
}

/* md och uppåt */
@media (min-width: 768px) {
  body {
    background-color: #6b926b;
    margin: auto 15%;
  }

  .right {
    text-align: right;
  }

  .sticky {
    width: 70%;
  }
}
/* mindre än md */
@media (max-width: 767px) {
  .images {
    text-align: center;
    margin: 5% auto 5% auto;
  }

  #party-carousel {
    visibility: hidden;
    height: 0;
  }

  .employee img {
    width: 60%;
  }
}
