body {
  background-color:#f8f9fa;
}

footer {
  padding: 2% 5%;
}

#logo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
}

#nav-logo {
  width: 30px;
  height: 30px;
  border: solid 2px white;
  border-radius: 10px;
  margin-left: 5px;
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity .5s;
}

.navbar, footer {
  background-color: #7cb765;
}


.fa-coffee {
  color: #f8f9fa;
}

.sticky {
  position: fixed;
  top: 0;
  width:100%;
  /* tas ur flowet (position)?
  måste bestämma width tsm med innehållet? */
    /*varför 70%? body margin 100%-(15+15)*/
  /*height:30px;*/
}

.sticky+.content {
  padding-top: 40px;
}
.webmaster{
      font-size: x-small;
}
.fab{
  color: #f8f9fa;
}
.col-1{
  /* OBS byt */
  text-align: center;
}
.images{
  width: 85%;
  height: 85%;
}

.machines{
  font-size: x-small;
}
.card-header{
  background-color:#6b926b;
}
.party-btn{
  background-color: #7cb765;
  border:none;
}

/* desktop och uppåt */
@media (min-width: 768px) {
    body {

        background-color: #6b926b;
      margin: auto 15%;
    }
    .sticky{
      width: 70%;
    }
}
